sudo: false
language: python

python:
  - "2.7"
  - "3.6"

install:
  - pip install tox-travis
  - pip install coverage
  - pip install python-coveralls

script:
  - tox

after_success:
  - coveralls
